* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    max-width: 1220px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: #000;
    padding: 15px 0;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.header__logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
}

.link {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #fff;
}

.banner {
    background: url(../src/assets/img/Rectangle\ 2.png) no-repeat center/cover;
    height: 700px;
}

.banner__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 145px;
}

.banner__title {
    font-weight: 700;
    font-size: 40px;
    color: #000;
    line-height: 100%;
}

.banner__call {
    background: #fff;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    color: #000;
    border-radius: 10px;
    transition: 0.3s;
}

.banner__call:hover {
    background: #000;
    color: #fff;
}

.about {
    background: #0E1C25;
    padding: 30px 0 112px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.about__wrap {
    display: flex;
    align-items: center;
    gap: 106px;
}

.about__left {
    max-width: 500px;
    width: 100%;
}

.about__left img {
    width: 100%;
    height: 100%;
}

.about__right {
    max-width: 466px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    color: #fff;
}

.about__right-name {
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
}

.about__right-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

.works {
    background: #5C6B81;
    padding: 44px 0 70px;
}

.works__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    clear: #fff;
    margin-bottom: 62px;
}

.works__card {
    padding: 15px 15px 28px;
    background: #B12B06;
    border-radius: 10px;
    max-width: 312px;
    width: 100%;
    text-align: center;
}

.works__card-img {
    width: 100%;
}

.works__card-img img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.works__card-desc_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 20px;
}

.works__card-desc_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 28px;
}

.works__card-desc_link {
    background: #fff;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    border-radius: 10px;
    color: #000;
}

.works__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 0;
    align-items: center;
}

.footer {
    background: #000;
    padding: 48px 0 62px;
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.footer__title {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
}
.footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}